
header {
    nav {
        display: none;
    }
}

main {
    position: unset;
    .choose {
        position: unset;
        transform: none;
        border-radius: 0;
        background-color: unset;
        background-image: url(../img/bg_choose_mobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -555px 0;
        object {
            display: none;
        }
    }
}

section {
    flex-direction: column;

    .version-select {
        display: flex;
        &.version-gbvs {
            position: relative;
            background-image: none;
            background-color: #006D8C;
            display: flex;
            &::before {
                display: block;
                content: "";
                position: absolute;
                /* transform: translateX(50%) translateY(50%); */
                inset: 0;
                z-index: 0;
                background: radial-gradient(white 0%, #046D8A 50%);
                opacity: 0.5;
            }

            img {
                position: relative;
            }

            .blue-pane {
                background-color: transparent;
            }
        }

        &.version-gbvsr {
            background-image: none;
            background-color: #A3009A;
        }

        
    }
    
}