/* @font-face {
    font-family: "Linux Bio";
    src: url(../linux-biolinum/LinBiolinum_RB.otf);
} */

@font-face {
    font-family: "Kanit";
    src: url(../Kanit-Regular.ttf);
}

@font-face {
    font-family: "Fredoka Bold";
    src: url(../Fredoka-Bold.ttf);
}

html {
    max-width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    position: relative;
    flex-shrink: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: "Kanit";

    & a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;
        ul {
            list-style: none;
            margin: 0;
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .discord {
            background-color: #7289DA;
            color: white;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
    .header-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        object-position: bottom;
    }

    .header-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Safari support */
        padding: 0.5rem;
        background: rgba(255, 255, 255, 0.5);
    }

    .logo {
        display: flex;
        align-items: center;
    }
}

main {
    position: relative;
    flex: 1;
    min-height: 0;
    .choose {
        position: absolute;
        z-index: 2;
        top: 2%;
        transform: translateX(-50%);
        left: 50%;
        background-color: #312222;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        h1 {
            font-size: 2rem;
            font-family: "Fredoka Bold";
        }
    }

    #butterfly-1 {
        position: absolute;
        transform: scale(10%) translateY(-360%) translateX(-550%);
    }
    #butterfly-2 {
        position: absolute;
        transform: scale(8%) translateX(-800%) translateY(-580%);
    }
    #butterfly-3 {
        position: absolute;
        transform: scale(22%) rotateY(180deg) translateX(-250%) translateY(-200%);
    }

    h2, h3, p {
        margin: 0;
    }

    section {
        display: flex;
        height: -webkit-fill-available; /* Safari */
        height: 100%;
        a {
            flex: 1;
        }
        .version-select {
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;

            h1 {
                font-size: 4rem;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                img {
                    height: 55px;
                }
            }

            p {
                font-size: 1.5rem;
            }

            .blue-pane, .pink-pane {
                transition: background-color linear 0.2s, color linear 0.2s;
            }

            &.version-gbvs {
                background-image: url(../img/bg_gbvs.webp);
                .blue-pane {
                    font-family: "Kanit";
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    inset: 0;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0.8);
                    color: transparent;
                }
                .blue-pane:hover {
                    background-color: hsla(193, 98%, 29%, 0.4);
                    color: white;
                    p {
                        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
                    }
                }
            }

            &.version-gbvsr {
                background-image: url(../img/bg_gbvsr.webp);
                .pink-pane {
                    font-family: "Kanit";
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    inset: 0;
                    z-index: 1;
                    color: transparent;
                    background-color: rgba(0, 0, 0, 0.8);
                    img {
                        opacity: 0;
                        transition: opacity 0.2s linear;
                    }
                }

                .pink-pane:hover {
                    background-color: hsla(303, 100%, 12%, 0.4);
                    color: white;
                    img {
                        opacity: 1;
                    }
                    h1, p {
                        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
                    }
                }
            }

            img {
                max-width: 100%;
            }
        }
    }
}